{% extends 'base.html' %}



{% block content %}



<div class='container'>


    <div class='row mt-20'>

        <div class='col s12 '>

            {% for p in posts  %}

            <div class="row">

                <div class="col s12 m8">

                    {{p.content |truncatewords:40|safe}}
                    <div class='mt-20'>
                        <a href="/blog/{{p.url}}" class='btn'>Readmore...</a>
            
                    </div>

                </div>
                <div class='col s4'>
                    <img src="/media/{{p.image}}" class='responsive-img' alt="">
                    
                </div>
                {% endfor %}
            </div>

        </div>
       
    </div>
    
</div>

{% endblock content %}